/* Importando duas fontes do google */

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* Configurações de tags */

body{	
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: url(./Conteudo/Cursor/Pointer.png), default;
}

a {
	text-decoration: none;
	color: black;

	cursor: url(./Conteudo/Cursor/Click.png), pointer;
}

button{
	padding: 0;
	
	cursor: pointer;
	cursor: url(./Conteudo/Cursor/Click.png), pointer;
}

ul{
	margin: 0;
}

nav{
	position: sticky;
	top: 0px;
}

/* Ajustando div para efeito de vidro fosco */

.background_layer_index{
	background-image: url(https://i.pinimg.com/1200x/96/9d/e0/969de0f730b201e5903de19abd39b422.jpg);
	
	background-size: cover;
	
	width: 100dvw;
	height: 100dvh;

	filter: blur(3px);

	position: fixed;
	top: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Ajustando base do site index */

.base_index{
	width: 25dvw;
	height: 90dvh;
	
	background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0, 0, 0, 0.1) 50%,rgba(0,0,0, 0.08) 100%); 
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(3px);

	position: fixed;
	top: 5%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	border: 2px solid rgba(245, 245, 245, 0.185);
	border-radius: 20px;
}

/* Itens principais do carrd */

/* Nome e foto */

.main_image_index{
	padding-top: 5%;
}

.main_image_index img{
	width: 18dvw;
	max-width: 15dvw;
	height: auto;
	
	border-radius: 50%;
}

.name_index{
	width: 100%;
	height: auto;

	font-size: 3rem;
	font-family: Gabarito;
	font-weight: 500;
	color: white;

	padding: 0;
}


.description_name_index{
	width: 100%;
	height: auto;

	font-size: 1.9rem;
	font-family: Gabarito;
	font-weight: 200;
	color: white;
}

/* Botões */

.bottom_part_index{
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.button_index{
	background-color: black;
	color: aliceblue;
	
	border-radius: 30px;
	padding: 3% 20%;

	font-family: Gabarito;
	font-size: 1.6rem;

	transform: scale(1);
	transition: transform 0.6s;
}

.button_index:hover{
	transform: scale(1.1);
}

/* Footer */

.footer_links_index{
	width: 100%;
	height: auto;
	
	display: flex;
	justify-content: space-evenly;
}

.footer_links_index ul{
	margin: 0;
	padding: 0;
	column-gap: 5%;
	
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.footer_links_index img{
	width: auto;
	height: 6.5dvh;

	transition: all 0.5s;
}

.footer_links_index img:hover{
	transform: scale(1.1);
}

/* CV */

/* Base do site junto a div de filtro para efeito de vidro fosco */

.main_base_cv{
	width: 100%;
	height: 100%;

	background-image: url(./Conteudo/Imagens/cv/background-CV.jpg);
	background-size: 150%;

	display: flex;
	flex-direction: column;
}

.background_layer_cv{
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(14px);
}

/* Header */

.header{
	width: 100%;
	height: 8dvh;
	min-height: 8dvh;
	position: sticky;
	top: 0px;
	
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px) saturate(120%);

	display: flex;
	align-items: center;
}

/* Texto do header */

.left_text_header{
	margin-right: auto;

	font-family: Gabarito;
	font-size: 2.5rem;
	color: white;
	font-weight: 500;

	padding-left: 0.8dvw;
}

.right_text_header{
	font-family: Gabarito;
	font-size: 1.6rem;
	font-weight: 300;

	padding-right: 1.5dvw;
}

.right_text_header a{
	color: white;
}

/* Footer */

footer{
	width: 100%;
}

.footer_contact{
	width: 100%;
	height: auto;
	display: flex;

	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);

	padding-top: 1%;
	padding-bottom: 1%;
}

.footer_contact ul{
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 80%;

	column-gap: 10%;
}

.footer_contact img{
	width: auto;
	height: 7dvh;
}

/* Introdução do currículo */

.introduction_cv{
	display: flex;
	width: 100%;
	height: 70dvh;
}

.introduction_text_cv{
	display: flex;
	flex-direction: column;

	width: 50%;
	height: 70dvh;

	justify-content: center;
	align-items: center;
}

.primary_text{
	font-family: Gabarito;
	font-size: 5em;
	color: white;
}

.introduction_text_description_cv{
	font-family: Gabarito;
	font-size: 3em;

	padding-bottom: 10%;
	color: white;
}

.introduction_text_frase_cv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 70%;
	height: auto;

	padding-left: 30%;

	font-family: Instrument Sans;
	font-weight: 500;
	font-size: 2.2em;
	color: white;
}

.introduction_text_frase_below_cv{
	padding-left: 2.5em;
}

/* Imagem da introdução */

.introduction_image_cv{
	display: flex;
	width: 50%;
	height: auto;

	justify-content: center;
	align-items: center;
}

.introduction_image_cv img{
	width: auto;
	height: 50dvh;

	border-radius: 50%;
}

/* Informações do usuário */

.info_cv{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 5%;
}

/* Botões de informação */

.info_buttons_section_cv{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: Gabarito;
}

.info_buttons_cv{
	height: 7dvh;
	width: 17%;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 2em;

	background-color: whitesmoke;
	margin-bottom: 1%;
	border-radius: 30px;
	border: solid 2px rgba(0, 0, 0, 0.2);

	cursor: pointer;

	transition: all 2s;
}

.info_buttons_body_cv{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	font-size: 0;

	transition: opacity 1s;
}

.info_buttons_body_title_cv{
	display: none;

	font-size: 1.8rem;
	font-weight: 600;
	text-align: left;

	padding-bottom: 1%;
}

.info_buttons_body_description_cv{
	display: none;

	font-size: 1.4rem;
	font-weight: 400;
	text-align: left;

	padding-left: 1%;
	padding-bottom: 1%;
}

/* Classes para uso do Javascript */

.visible{
	display: block;
}

.visivel_box{
	height: 100%;
	width: 40%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding: 0.2% 1.8% 1.8% 1.8%;
	
	transition: all 2s;
}

.visivel_body{
	display: flex;
	width: 100%;
	max-height: fit-content;

	padding-top: 2%;
	opacity: 1;
	
	flex-direction: column;
	align-items: start;

	font-size: 0.8em;
	font-weight: 500;
	transition: all 1s;
}

/* Pagina de portifólio */

/* Base do portfolio */

.main_base_pf{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(./Conteudo/Imagens/cv/background-CV.jpg);
	background-size: 150%;
}

/* Parte dos projetos, com o título e descrição */

.projects_pf{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects_title_pf{
	width: 100%;
	height: auto;

	text-align: center;

	padding-top: 3%;
}

.projects_subtitle_pf{
	font-size: 2rem;
	font-family: Gabarito;

	padding-top: 1%;
	color: whitesmoke;
}

.background_pf{
	backdrop-filter: blur(8px);
}

/* parte de projetos do portifólio */

.projects_content_pf{
	width: 100%;
	height: 100%;

	padding-top: 2.5%;
	padding-bottom: 2.5%;

	display: flex;
	justify-content: space-around;
}

/* Parte do projeto individual */

.projects_item_pf{
	width: 23%;
	height: 16dvh;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	background-color: rgba(0, 0, 0, 0.01);
	backdrop-filter: blur(1px);

	border-radius: 40px;

	padding: 1%;

	transition: all 1s;

	overflow: hidden;
}

/* Parte da direita do projeto sem hover */

.projects_item_right_pf{
	text-align: center;

	width: 70%;
	height: 100%;

	font-family: Gabarito;
	font-size: 2.2em;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: white;
}

/* Parte da esquerda do projeto sem hover */

.projects_item_left_pf{
	width: 30%;
	height: auto;

	color: white;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects_item_left_pf img{
	width: 90%;
	height: auto;
}

/* Parte do projeto com o hover */

.projects-hover-box{
	width: 45%;
	height: auto;

	display: flex;
	justify-content: start;

	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(20px);
	
	transition: all 1.5s ease-out;
}

.projects-hover-box img{
	width: 70%;
	height: auto;

	transition: all 1.5s ease-out;
}

.projects-hover-hidden-item{
	display: none;
}

.projects-hover-showing-item{
    display: flex;
    opacity: 0;

    transition: opacity 1s ease-out, transform 1s ease-out;

	overflow: hidden;
}

.projects-hover-showing-item.fade-in{
	opacity: 1;
	overflow: hidden;
}

/* Parte da direita do hover */

.projects_item_hidden_right_pf{
	height: 100%;
	flex-direction: column;

	justify-content: space-evenly;
}

.projects_item_hidden_right_title_pf{
	font-size: 2rem;
	font-family: Gabarito;
}

.projects_item_hidden_right_body_pf{
	display: flex;
	align-items: center;
}

.projects_item_hidden_right_body_pf a{
	color: white;
	font-size: 1.5rem;
}

.projects_item_hidden_right_body_pf img{
	width: 5%;
	height: auto;

	padding-right: 1%;
	padding-left: 3%;
}

/* Parte esquerda do hover */

.projects_item_hidden_left_pf{
	flex-direction: column;
	overflow: hidden;

	transition: opacity 1s;
}

.projects_item_hidden_left_title_pf{
	width: 100%;
	font-size: 1.8rem;
	font-family: Gabarito;

	text-align: center;
}

.projects_item_hidden_left_body_pf{
	font-size: 1.2rem;
	font-family: Instrument Sans;
	font-weight: 550;
}

/* Botões personalizados para ferramentas */

.projects_item_hidden_button_pf{
	width: 16%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	border-radius: 20px;
	border: solid 3px white;
	margin: 1%;

	font-size: 1.5rem;
	flex-wrap: nowrap;
}

.projects_item_hidden_button_pf img{
	width: 15%;
	height: auto;
}

.projects_item_hidden_right_body_pf.button_projects{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.projects_item_hidden_button_pf.vscode{
	width: 22%;
}